@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'aktiv-grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  line-height: 1.5;
  letter-spacing: 0em;
  color: rgb(255 255 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gradient {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

@font-face {
  font-family: 'aktiv-grotesk';
  src: local('aktiv-grotesk'), url(./fonts/AktivGroteskCorp-Regular.ttf);
}
